<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="taiyi.web.dao.SleepReportMapper">
	<resultMap id="BaseResultMap" type="taiyi.web.model.SleepReport">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="user_id" property="userId" jdbcType="CHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="light_sleep_seconds" property="lightSleepSeconds"
			jdbcType="INTEGER" />
		<result column="deep_sleep_seconds" property="deepSleepSeconds"
			jdbcType="INTEGER" />
		<result column="awake_seconds" property="awakeSeconds"
			jdbcType="INTEGER" />
		<result column="total_seconds" property="totalSeconds"
			jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="upload_date" property="uploadDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, start_time, end_time, light_sleep_seconds,
		deep_sleep_seconds, awake_seconds,
		total_seconds, score, upload_date
	</sql>
	<sql id="Base">
		sr.id, sr.user_id, sr.start_time, sr.end_time,
		sr.light_sleep_seconds,
		sr.deep_sleep_seconds, sr.awake_seconds,
		sr.total_seconds, sr.score, sr.upload_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sleep_report
		where id = #{id,jdbcType=CHAR}
	</select>

	<select id="selectByHostipalIdAndUserId" resultMap="BaseResultMap">
		select
		<include refid="Base" />
		from sub_report sbr
		left join sleep_report sr on sbr.id = sr.id
		left join device d on d.`mac_address` = sbr.`mac_address`
		where d.`hostipal_id` = #{hostipalId}
		and sr.`user_id` = #{userId}
	</select>

	<!-- select * from sub_report sbr left join sleep_report sr on sbr.id = 
		sr.id left join device d on d.`mac_address` = sbr.`mac_address` where d.`hostipal_id` 
		= 1 and sr.`user_id` = "bc1fd600-b29d-4323-a548-6cf7ebca53f0" -->

	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sleep_report
		where user_id = #{userId,jdbcType=CHAR}
		order by
		start_time desc;
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sleep_report
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="taiyi.web.model.SleepReport">
		insert into sleep_report (id,
		user_id, start_time,
		end_time, light_sleep_seconds, deep_sleep_seconds,
		awake_seconds, total_seconds, score,
		upload_date)
		values
		(#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR},
		#{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP},
		#{lightSleepSeconds,jdbcType=INTEGER},
		#{deepSleepSeconds,jdbcType=INTEGER},
		#{awakeSeconds,jdbcType=INTEGER}, #{totalSeconds,jdbcType=INTEGER},
		#{score,jdbcType=INTEGER},
		#{uploadDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="taiyi.web.model.SleepReport">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Mar 08 
			16:09:20 CST 2016. -->
		insert into sleep_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="lightSleepSeconds != null">
				light_sleep_seconds,
			</if>
			<if test="deepSleepSeconds != null">
				deep_sleep_seconds,
			</if>
			<if test="awakeSeconds != null">
				awake_seconds,
			</if>
			<if test="totalSeconds != null">
				total_seconds,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="uploadDate != null">
				upload_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lightSleepSeconds != null">
				#{lightSleepSeconds,jdbcType=INTEGER},
			</if>
			<if test="deepSleepSeconds != null">
				#{deepSleepSeconds,jdbcType=INTEGER},
			</if>
			<if test="awakeSeconds != null">
				#{awakeSeconds,jdbcType=INTEGER},
			</if>
			<if test="totalSeconds != null">
				#{totalSeconds,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				#{score,jdbcType=INTEGER},
			</if>
			<if test="uploadDate != null">
				#{uploadDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="taiyi.web.model.SleepReport">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Mar 08 
			16:09:20 CST 2016. -->
		update sleep_report
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lightSleepSeconds != null">
				light_sleep_seconds =
				#{lightSleepSeconds,jdbcType=INTEGER},
			</if>
			<if test="deepSleepSeconds != null">
				deep_sleep_seconds =
				#{deepSleepSeconds,jdbcType=INTEGER},
			</if>
			<if test="awakeSeconds != null">
				awake_seconds = #{awakeSeconds,jdbcType=INTEGER},
			</if>
			<if test="totalSeconds != null">
				total_seconds = #{totalSeconds,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=INTEGER},
			</if>
			<if test="uploadDate != null">
				upload_date = #{uploadDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="taiyi.web.model.SleepReport">
		update
		sleep_report
		set user_id = #{userId,jdbcType=CHAR},
		start_time =
		#{startTime,jdbcType=TIMESTAMP},
		end_time =
		#{endTime,jdbcType=TIMESTAMP},
		light_sleep_seconds =
		#{lightSleepSeconds,jdbcType=INTEGER},
		deep_sleep_seconds =
		#{deepSleepSeconds,jdbcType=INTEGER},
		awake_seconds =
		#{awakeSeconds,jdbcType=INTEGER},
		total_seconds =
		#{totalSeconds,jdbcType=INTEGER},
		score = #{score,jdbcType=INTEGER},
		upload_date = #{uploadDate,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=CHAR}
	</update>
</mapper>