<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="taiyi.web.dao.userActiveMapper" >
  <resultMap id="BaseResultMap" type="taiyi.web.model.userActive" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_active
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_active
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="taiyi.web.model.userActive" >
    insert into user_active (id, is_active)
    values (#{id,jdbcType=CHAR}, #{isActive,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="taiyi.web.model.userActive" >
    insert into user_active
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="taiyi.web.model.userActive" >
    update user_active
    <set >
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="taiyi.web.model.userActive" >
    update user_active
    set is_active = #{isActive,jdbcType=BIT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>